@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
p {
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  color:#2e2e2e;
}
body {
  background-image:url('https://wallpaperaccess.com/full/238012.jpg'); 
  
  background-repeat: no-repeat;
  background-size: cover;
  padding: 17px;
  color:white;
}
h1 {
  font-family: 'Inter', sans-serif;
}
h2 {
  font-family: 'Inter', sans-serif;
}
span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
